# Virtual environment
.venv/
venv/
*.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Devcontainer
/.devcontainer/